.DS_Store
Thumbs.db

.env
.env.local

.vscode/
.idea/
*.suo
*.user
*.swp

run.js


.cache/
node_modules/
.quodana.yaml

AuthKey_XAS94MP5V8.p8

plugin/datasetModels/saved_datas
plugin/datasetModels/logs_references.json
plugin/bot/telegram_users.json

